*{
    box-sizing: border-box;
}
body{
    margin:0;
}
html{
    font-family: Open Sans;
    font-size: 64.5%;
}
header #logo{
    margin:10px 10px 10px 38px;
}
header #logo:hover{
    zoom: 1.2;
    margin:7px;
}
header h1{
    font-size: 2rem;
    font-weight: 600;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: left;
    padding: 0px 30px 30px 10px;
    background-color: white;
}
header h1:hover{
    background-color: rgb(178, 187, 197);
    zoom:1.04;
    padding:  0px 28px 28px 8px;
}
header{
    width: 100%;
    height: 10vh;
    background-color: rgb(31, 27, 46);
    display: flex;
    justify-content: flex-start;
}
header nav a{
    color:white;
    float: left;
    padding: 15px 16px 4px 30px;
    text-decoration: none;
    font-size: large;
}
header nav a:hover{
    color: rgb(178, 187, 197);
}
main{
    position: absolute;
    top:10vh;
    width: 100vw;
    background-color: rgb(66, 58, 97);
    height: 86vh;
}
main #side-bar{
    position: absolute;
    top:10vh;
    width: 25vw;
    background-color: rgb(31, 27, 46);
    margin: 1vw;
    z-index:2;
}
main #map{
    position: absolute;
    top: 0vh;
    width: 98vw;
    height: 84vh;
    margin:0.5vw;
    z-index: 1;
}
main .about{
    background-color: rgb(31, 27, 46);
    width: 100vw;
    height: 86vh;
    display: block;
    position: absolute;
    top:0vh;
    padding: 0px 0px 0px 50px;
    color:white;
}
main .about h1{
    font-size: xx-large;
}
main .about p{
    width: 60vw;
    font-size: 14px;
}
main .about img{
    border-radius: 50%;
    background-color: rgb(18, 16, 27);
    position: absolute;
    top: 50px;;
    left: 70vw;
    padding: 0;
    margin:0;
}
main .about img:hover{
    zoom:1.1;
    top:45px;
    margin: 0;
    left:64vw;
    padding: 0;
}
input{
    width: 18vw;
    border-radius: 5px;
    border-color: transparent;
    margin: 10px 0px 10px 10px;
}

button{
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(255, 255, 255) ;
    width: 50px;
    height: 20px;
    text-align: center;
    border-radius: 8px;
    margin: 10px;
}
main #Infobox{
    padding-left: 10px;
    color:white;
    font-size: 1.3rem;
}

footer{
    position: absolute;
    bottom: 0;
    height:4vh;
    width: 100vw;
    font-size: 10px;
    background-color:rgb(18, 16, 27);
}
footer  p{
    margin: 0;
    padding:5px 0px 0px 5px ;
    color: white;
}